= link_to 'New Article', new_article_path, class: 'btn btn-default btn-sm'
br

- @articles.each do |article|
  .article
    h3 = article.title
    p = article.body
    - if article.user
      b = image_tag article.user.avatar.url(:thumb)
      br
      = "by "
      b = article.user.name ? article.user.name : "(no name)"

    br
    p
      i = article.updated_at.strftime("%d.%m. %Y")

    = link_to 'Show', article
    - if current_user && (current_user == article.user || current_user.has_role?(:admin))
      '|
      = link_to 'Edit', edit_article_path(article)
      '|
      = link_to 'Destroy', article_path(article), data: {:confirm => 'Are you sure?'}, :method => :delete
    hr
