h2 = @article.title

p.well
  = @article.body

- if @article.user
  b = image_tag @article.user.avatar.url(:thumb)
  br
  = "by "
  b = @article.user.name ? @article.user.name : "(no name)"

br
p
  i = "last update "
  i = @article.updated_at.strftime("%d.%m. %Y")

hr
- if current_user == @article.user
  = link_to 'Edit', edit_article_path(@article)
  '|
  = link_to 'Destroy', article_path(@article), data: {:confirm => 'Are you sure?'}, :method => :delete
