h3 Users

table.table.table-striped
  thead
    tr
      th Name
      th Email
      th
      th
      th

  tbody
    - @users.each do |user|
      tr
        td = user.name
        td = user.email
        td = link_to 'Show', user
        td = link_to 'Edit', edit_user_path(user)
        td = link_to 'Destroy', user_path(user), data: {:confirm => 'Are you sure?'}, :method => :delete

br
