p
  strong Name:
  = @user.name
p
  strong Email:
  = @user.email

p
  strong Avatar:
  br
  = image_tag @user.avatar.url(:medium)

- if current_user && current_user.has_role?(:admin) && current_user != @user
  = link_to 'Edit', edit_user_path(@user)
- else
  = link_to 'Edit', edit_user_registration_path
